name: On Push

on:
    push:
        branches: [ main ]
    workflow_dispatch:

jobs:
    call-deploy-and-release:
        uses: Astro-BEAM-AUTh/infrastructure/.github/workflows/deploy-and-release.yml@main
        permissions:
            contents: write
            pages: write
            id-token: write
            issues: write
            pull-requests: write